# Git Ignore file for TemplateLink Builder
/database/database.sqlite
/public/uploads/photos/*
!/public/uploads/photos/.htaccess
/public/uploads/*
!/public/uploads/default-thumbnail.jpg
!/public/uploads/default-alert-sound.mp3
.DS_Store
Thumbs.db
error_log
php_errors.log
